{% extends 'ims/base.html' %}


{% load staticfiles %}
{% block specificheaders %}
    <link rel="stylesheet" href="{% static 'css/itemtable.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h1>Managers</h1>
    </div>
    <div class="items-table">
        <table>
            <div class="row-header">
                <tr>
                    <th>Manager Name</th>
                    <th>Hire Date</th>
                    <th>E-Mail</th>
                </tr>
            </div>
            {% for manager in manager_list %}
            <div class="row"><tr>
                <td><a href="">{{ manager }}</a></td>
                <td>{{ manager.hire_date }}</td>
                <td>{{ manager.user.email }}</td>
            </tr></div>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}